<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyler's Django Blog</title>
</head>
<body>
    <div class="header1">
        <h1><a href="/">Tyler's Django Blog</a> </h1>
    </div>

    <div class="blog1">
        <p>published: 04.06.2019, 2:35</p>
        <h2><a href="">My first post</a></h2>
        <p>SUPPPPPPPPPPPPPPPPPPP</p>
    </div>

    <div class="blog2">
        <p>published: 04.06.2019, 2:36</p>
        <h2><a href="">My second post</a></h2>
        <p>YOOOOOOOOOOo</p>
    </div>

</body>
</html>